{% extends "sail_app/base.html" %}
{% load staticfiles %}

{% block title %}
    Sail Lab Webpage
{% endblock %}

{% block script %}
<script type="text/javascript">

$("#contact_submit").click(function () {
           //取表格的选中行数据
           // var arrselections = $("#tb_departments").bootstrapTable('getSelections');
           // if (arrselections.length <= 0) {
           //     toastr.warning('请选择有效数据');
           //     return;
           // }

           Ewin.confirm({ message: "确认要删除选择的数据吗？" }).on(function (e) {
               if (!e) {
                   return;
               }
               $.ajax({
                   type: "post",
                   url: "/api/DepartmentApi/Delete",
                   data: { "": JSON.stringify(arrselections) },
                   success: function (data, status) {
                       if (status == "success") {
                           toastr.success('提交数据成功');
                           $("#tb_departments").bootstrapTable('refresh');
                       }
                   },
                   error: function () {
                       toastr.error('Error');
                   },
                   complete: function () {

                   }

               });
           });
       });
</script>
<!-- <script language="javascript">
function sumbit_sure(){
var gnl=confirm("确定要提交?");
if (gnl==true){
return true;
}else{
return false;
}
}
</script> -->
{% endblock %}

{% block body_block %}

<div class="container" style="margin-bottom:50px;">

      <div class="row">
        <div class="col-md-6 animate-box">
          <div class="about-desc">
            <div class="item">
              <h1 align="justify" class="text-center">Welcome To SAIL@Case!</h1>
              <p class="font20 text-center">Sensing and Interaction Laboratory at CWRU.</p>
            </div>
            <img class="img-responsive about-img center-block" style="max-width:50%"src="{% static "images/website/homepage.png" %}">

          </div>
        </div>
        <!-- <div class="col-md-1 centerdiv"></div> -->
        <div class="col-md-6 animate-box">
          <div class="about-desc">

            <div class="item" >
              <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="2500">
              <!-- 轮播（Carousel）指标 -->
              <ol class="carousel-indicators">
                  <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                  <li data-target="#myCarousel" data-slide-to="1"></li>
              </ol>
              <!-- 轮播（Carousel）项目 -->
              <div class="carousel-inner">
                  <div class="item active">
                      <img class="slideImg img-responsive center-block" src="{% static "images/first_graduation_menghan_liu_2.png" %}" alt="First slide">
                      <div class="carousel-caption font20">First Graduation from SAIL@CWRU: Ms. Menghan Liu, Fall 2016</div>
                  </div>
                  <div class="item">
                      <img class="slideImg img-responsive center-block" src="{% static "images/lunch_celebration_12142016.png" %}" alt="Second slide">
                      <div class="carousel-caption font20">Lunch Celebration on Dec 9, 2016</div>
                  </div>
              </div>
              <!-- 轮播（Carousel）导航 -->
              <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                  <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
              </a>
              <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                  <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
              </a>
            </div>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div id="news" class="container " style="margin-bottom:50px;">

      <div class="row">
        <div class="col-md-4 center-left animate-box" style="background-color:#66ccff;height:330px;">
          <div class="about-desc">
            <div class="item" style="margin-bottom:30px;">

            </div>
            <img class="img-responsive about-img center-block" src="{% static "images/news.png" %}">
            <div class="item" style="margin-top:20px;">
              <h2 align="justify" class="text-center font25" style="color:#005580">Recent News</h2>
            </div>
            <div class="item">
              <p align="center"><a href="/news" class="btn btn-primary btn-outline" style="color:#005580">Learn More</a></p>
            </div>
          </div>
        </div>
        <!-- <div class="col-md-1 centerdiv"></div> -->
        <div class="col-md-8 center-left animate-box">
          <div class="about-desc">
            <!-- <div class="item"> -->
            <div class="item" id="scrollBox">
              <ul align="justify">
                <li>
                  <span style="color:red">[Service]</span>
                  <span>Dr. Huang serves as the CSE graduate committee on August, 2018</span>
                </li>
                <li>
                  <span style="color:#DAA520">[Scholarship]</span>
                  <span>Ms. Ridaa Ali, received SOURCE summer student research fund this year for the topic "Explore Correlation Between Body Balance and Hearing Sensitivity using Mobile Health Technology" on June 2018</span></li>
                <li>
                  <span style="color:red">[Service]</span>
                  <span>Dr. Huang joined the Editorial Board of PLOS ONE as an Academic Editor on May 2018</span></li>
                <li>
                  <span style="color:red">[Status]</span>
                  <span>Dr. Huang joined Institute for Smart, Secure and Connected Systems (ISSACS) at Case Western Reserve University on May 2018</span></li>
                <li>
                  <span style="color:green">[Award]</span>
                  <span>SAIL@CWRU becomes Data Challenge Winning Team in IEEE International Conference on Biomedical and Health Informatics and IEEE International Conference on Wearable and Implantable Body Sensor Network, on March 2018</span></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div id="projects" class="container" style="margin-bottom:50px;">

      <div class="row">
        <div class="col-md-6 animate-box">
          <div class="about-desc">

            <img class="img-responsive about-img center-block" src="{% static "images/mhealth.jpg" %}">
            <!-- <img class="img" src="images/logo.png"> -->
          </div>
        </div>
        <!-- <div class="col-md-1 centerdiv"></div> -->
        <div class="col-md-6 center-left animate-box">
          <div class="about-desc">
            <div class="item">
              <h2 align="justify" class="text-center font25">mHealth and Wearable Innovations</h2>
            </div>
            <div class="item">
              <ul align="justify">
                <li class="font18" style="margin-bottom:20px;margin-top:20px">Wearable Nanofabrication Designs Create Better Fitting Intelligent Prosthetic Sockets</li>
                <li class="font18" style="margin-bottom:20px;margin-top:20px">Wearable Gait Lab - Risk Factors Identification for Work-related Injuries</li>
                <li class="font18" style="margin-bottom:20px;margin-top:20px">Address Health Disparity Through mHealth: Video Intervention Program for Smoking Cessation</li>
              </ul>

              <p><a href="/research1" class="btn btn-primary btn-outline">Learn More</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container" style="margin-bottom:50px;">
      <div class="row">
        <!-- <div class="col-md-1 centerdiv"></div> -->
        <div class="col-md-6 center-right animate-box">
          <div class="about-desc">
            <div class="item">
              <h2 align="justify" class="text-center">Interactive Rehabilitation</h2>
            </div>
            <div class="item">
              <ul align="justify">
                <li class="font18" style="margin-bottom:20px;margin-top:20px">Wearable and Connected Gait Analytics System (WCGAS) Providing Quantitative Statistical Support for Human Balance Tests</li>
                <li class="font18" style="margin-bottom:20px;margin-top:20px">Frozen Shoulder Rehabilitation using Virtual Reality Games</li>
                <li class="font18" style="margin-bottom:20px;margin-top:20px">Machine learning-based assessment tool for imbalance and vestibular dysfunction with virtual reality rehabilitation system</li>
              </ul>

              <p><a href="/research2" class="btn btn-primary btn-outline">Learn More</a></p>
            </div>
          </div>
        </div>

        <div class="col-md-6 animate-box">
          <div class="about-desc">

            <img class="img-responsive about-img center-block" src="{% static "images/rehabilitation.jpg" %}">
            <!-- <img class="img" src="images/logo.png"> -->
          </div>
        </div>
      </div>
    </div>

    <div class="container" style="margin-bottom:50px;">
      <div class="row">
        <div class="col-md-6 animate-box">
          <div class="about-desc">

            <img class="img-responsive about-img center-block" src="{% static "images/mhealth.jpg" %}">
            <!-- <img class="img" src="images/logo.png"> -->
          </div>
        </div>
        <!-- <div class="col-md-1 centerdiv"></div> -->
        <div class="col-md-6 center-left animate-box">
          <div class="about-desc">
            <div class="item">
              <h2 align="justify" class="text-center">Medical and Health Data Informatics</h2>
            </div>
            <div class="item">
              <ul align="justify">
                <li class="font18" style="margin-bottom:20px;margin-top:20px">Early Melanoma Detection via Generative Hidden Correlation Discovery and Deep Network Ensemble</li>
                <li class="font18" style="margin-bottom:20px;margin-top:20px">Discover Predominant Factors for Mortality of Weekend and Weekday Admission to the ICU</li>
              </ul>

              <p><a href="/research3" class="btn btn-primary btn-outline">Learn More</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container" style="margin-bottom:50px;">
      <div class="row">
        <!-- <div class="col-md-1 centerdiv"></div> -->
        <div class="col-md-6 center-right animate-box">
          <div class="about-desc">
            <div class="item">
              <h2 align="justify" class="text-center">Privacy-preserving deep learning architecture for mHealth applications</h2>
            </div>
            <div class="item">
              <ul align="justify">

              </ul>

              <p><a href="/research4" class="btn btn-primary btn-outline">Learn More</a></p>
            </div>
          </div>
        </div>

        <div class="col-md-6 animate-box">
          <div class="about-desc">

            <img class="img-responsive about-img center-block" src="{% static "images/rehabilitation.jpg" %}">
            <!-- <img class="img" src="images/logo.png"> -->
          </div>
        </div>
      </div>
    </div>

    <div id="partners"class="container" style="margin-bottom:50px; margin-top:10px;">
      <div class="row">
        <div class="col-md-6 center-left animate-box">
          <div class="about-desc">
            <div class="item" style="margin-bottom:20px;margin-top:-30px;">
              <img class="img-responsive about-img center-block" style="max-width:470px"src="{% static "images/partnerImg.jpeg" %}">
            </div>
          </div>
        </div>

        <div class="col-md-6 center-left animate-box" style="background-color:#66ccff;padding-left:50px;">
          <div class="about-desc">
            <div class="item" style="margin-bottom:50px;">
              <h3 style="margin:0px;margin-bottom:10px;">Partners</h3>
              <a href="https://engineering.case.edu/research/institutes/smart-secure-connected-systems" class="font14" style="color:#004466;">Institute for Smart, Secure and Connected Systems (ISSACS)</a>
              <p style="margin-bottom:5px;"></p>
              <a href="https://www.aptcenter.research.va.gov/" class="font14" style="color:#004466;">Advanced Platform Technology Center (APTC)</a>
              <p style="margin-bottom:5px;"></p>
              <a href="https://case.edu/cancer/research/office-of-cancer-disparities-research" class="font14" style="color:#004466;">Office of Cancer Disparities Research</a>
              <p style="margin-bottom:5px;"></p>
              <a href="https://www.ohioliving.org/communities/ohio-living-breckenridge-village" class="font14" style="color:#004466;">Ohio Living Breckenridge Village</a>
              <p style="margin-bottom:5px;"></p>
              <h3 style="margin:0px;margin-bottom:10px;margin-top:10px;">Sponsors</h3>
              <p class="font14" style="color:#004466;margin-bottom:5px">National Science Foundation (NSF)</p>
              <p class="font14" style="color:#004466;margin-bottom:5px">National Institutes of Health (NIH)</p>
              <p class="font14" style="color:#004466;margin-bottom:5px">United States Department of Defense (DoD)</p>
              <p class="font14" style="color:#004466;margin-bottom:5px">Ohio Bureau of Workers' Compensation (OBWC)</p>
              <p class="font14" style="color:#004466;margin-bottom:5px">Google Internet of Things Technology</p>
              <p class="font14" style="color:#004466;margin-bottom:5px">CWRU think[Box]</p>
              <p class="font14" style="color:#004466;margin-bottom:5px">CWRU University Center for Innovation in Teaching and Education (UCITE)</p>
            </div>
          </div>
        </div>

      </div>

    </div>

    <div class="contact-area" id="contact">
		<div class="container">
			<div class="row">
        <div class="col-md-6 animate-box">
          <div class="about-desc">

            <div class='pin'></div>
            <div class='pulse'></div>
            <img class="img-responsive about-img center-block" src="{% static "images/map.jpg" %}" style="z-index:-1">

            <!-- <div class='sw'></div> -->

            <!-- <img class="img" src="images/logo.png"> -->
          </div>
        </div>
				<div class="col-md-6">
          <h2>GET IN TOUCH</h2>
					<form role="form" method="POST" onclick="javascript:return confirm("您确认要提交表单吗？");">
            <!-- {{form.as_p}} -->

            {% csrf_token %}
            <div class="form-group" id="name-field">
                <div class="form-input">
                  {{ form.name }}
                    <!-- <input type="text" class="form-control" id="form-name" name="form-name" placeholder="Name.." required> -->
                </div>
            </div>
            <div class="form-group" id="email-field">
                <div class="form-input">
                  {{ form.email }}
                    <!-- <input type="email" class="form-control" id="form-email" name="form-email" placeholder="Email.." required> -->
                </div>
            </div>
            <div class="form-group" id="phone-field">
                <div class="form-input">
                  {{ form.subject }}
                    <!-- <input type="text" class="form-control" id="form-phone" name="form-phone" placeholder="Subject.."> -->
                </div>
            </div>
            <div class="form-group" id="message-field">
                <div class="form-input">
                  {{ form.message }}
                    <!-- <textarea class="form-control" rows="6" id="form-message" name="form-message" placeholder="Your Message Here..." required></textarea> -->
                </div>
            </div>
            <div class="form-group">
              <input id="contact_submit" type="submit" class="btn btn-primary btn-outline" value="Send Message">
              <!-- <button id="contact_submit" type="submit" class="btn btn-primary btn-outline">Send Message</button> -->
            </div>
            <!-- <input type="submit" class="btn btn-primary" value="Submit"> -->
					</form>
				</div>
			</div>
		</div>
	</div>


  <script type="text/javascript">
  // window.onload=function(){
  //     //获取滚动部分
          var area=document.getElementById("scrollBox");
          //设置全局定时器
          var timer=null;
          //定义延迟
          var delay=2000;
          //获取高度
          var oLiHeight=$("#scrollBox li").height();
          //速度
          var speed=50;
          area.scrollTop=0;
          area.innerHTML+=area.innerHTML;
        // }

  function startScroll(){//开始运动
       timer=setInterval("scrollUp()",speed);
       area.scrollTop++;
      }
  function scrollUp(){//循环运动
      if(area.scrollTop%oLiHeight==0){
          clearInterval(timer)
          setTimeout(startScroll,delay);
          }else{
              area.scrollTop++;
               if(area.scrollTop >= area.scrollHeight/3){
                   area.scrollTop =0;
                   }
              }
      }

  //页面加载两秒后运动
    setTimeout(startScroll,delay)
  //鼠标事件
    $("#scrollBox").mouseover(function(){clearInterval(timer)});
    $("#scrollBox").mouseout(function(){timer=setInterval('scrollUp()',speed)});
  </script>


{% endblock %}
