{% extends "sail_app/base.html" %}
{% load staticfiles %}

{% block title %}
    K12 Opportunities
{% endblock %}

{% block body_block %}


<div class="container" style="margin-bottom:100px;">
      <div class="container" style="margin-bottom:10px;">
          <h1 class="container">
              K12 opportunities
          </h1>
      </div>
      <div class="">
          <span class="font18">SAIL@CWRU and mHealth@CWRU has mentored plenty of high school student researchers for wearable and IoT innovations over the years.</span>
            <p></p>
        <div class="container" style="margin-bottom:20px;"></div>
            <span class="font18bold">2018</span>
          <p></p>
            <span class="font18">• David Xu (Jericho High School, NY)</span>
          <p></p>
            <span class="font18">• Adam Dulay (Hawken High School, OH)</span>
          <p></p>
            <span class="font18">• Danny Mullen (St. Ignatius High School, OH)</span>
          <p></p>
          <div class="container" style="margin-bottom:20px;"></div>
            <span class="font18bold">2017</span>
          <p></p>
            <span class="font18">• Nikhil Goel (Hawken High School, OH)</span>
          <p></p>
            <span class="font18">• David Xu (Jericho High School, NY)</span>
          <p></p>
            <span class="font18">• Apurva Gandhi (St. Ignatius High School, OH)</span>
          <p></p>
            <span class="font18">• Sean Breen (St. Ignatius High School, OH)</span>
          <p></p>
          <div class="container" style="margin-bottom:20px;"></div>
            <span class="font18bold">2016</span>
          <p></p>
            <span class="font18bold">IoT and Wireless Radon Detector Network (supported by University Center for Innovation in Teaching and Education and Google Internet of Things (IoT) Technology Research Award)</span>
          <p></p>
          <div class="container" style="margin-bottom:20px;"></div>
          <center><img src="{% static "images/k12_IOT.png" %}" style="height:500px;"alt=""></center>
          <div class="container" style="margin-bottom:20px;"></div>
            <span class="font18">• Matthew French (St. Ignatius High School, OH)</span>
          <p></p>
            <span class="font18">• Alan Bahr(St. Ignatius High School, OH)</span>
          <p></p>
          <div class="container" style="margin-bottom:20px;"></div>
            <span class="font18bold">2015</span>
          <p></p>
            <span class="font18">Kevin Arbeznik(St. Ignatius High School, OH)</span>
          <p></p>


</div>
</div>

{% endblock %}
