{% extends "sail_app/base.html" %}
{% load staticfiles %}

{% block title %}
    Member
{% endblock %}

{% block body_block %}
<div class="container" style="margin-bottom:50px;">
      <div class="row">
        <div class="col-md-6 animate-box">
          <h2 class="container">
              Director of SAIL & mHealth @CWRU
          </h2>
          <div class="about-desc">
            <img class="img-responsive about-img center-block" src="{% static "images/Member/huang.png" %}" style="height:400px;">
            <!-- <img class="img" src="images/logo.png"> -->
          </div>
        </div>
        <!-- <div class="col-md-1 centerdiv"></div> -->
        <div class="col-md-6 center-left animate-box">
          <div class="about-desc"style="margin-top:80px;">
            <div class="item">
              <h2 align="justify" class="text-center">Ming-Chun Huang</h2>
            </div>
            <div class="item">
              <span class="font18">Assistant professor, Electrical Engineering and Computer Science Department at the Case School of Engineering</span>
            <p></p>
              <span class="font18">Investigator, Department of Veterans Affairs Medical Center Advanced Platform Technology (APT) Center</span>
            <p></p>
              <span class="font18bold">RESEARCH INTEREST:</span>
              <span class="font18">Mobile Health (mHealth), Wearables, Streaming Data Visualization, Deep Learning on Mobile Platforms, Internet of Sustainable Things</span>
            <p></p>
              <span class="font18bold">RESEARCH FOCUS:</span>
              <span class="font18">Design wearable systems for human health care, clinical diagnosis and research, with emphasis on interactive sensing and intervention designs using big data analytics and IoT technologies.</span>
            <p></p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div style="background:linear-gradient(to left,#efefef,#0066FF,#efefef);height:1px;margin-top:10px;margin-bottom:10px;"></div>

    <div class="container" style="margin-bottom:50px;">
      <div class="row">
        <div class="col-md-6 animate-box">
          <h3 class="container">
              PhD Students
          </h3>
          <div class="about-desc" style="margin-top:50px;">
            <img class="img-responsive about-img center-block" src="{% static "images/Member/haotian.jpg" %}" style="height:400px;">
            <!-- <img class="img" src="images/logo.png"> -->
          </div>
        </div>
        <!-- <div class="col-md-1 centerdiv"></div> -->
        <div class="col-md-6 center-left animate-box">
          <div class="about-desc">
            <div class="item" style="margin-top:30px;">
              <h2 align="justify" class="text-center">Haotian Jiang</h2>
              <h3 align="justify" class="text-center" style="font-family:'Microsoft Yahei'">姜昊田</h3>
              <span class="font18"></span>
            </div>
            <div class="item">
              <span class="font18">Haotian Jiang received his B.S. degree in Electrical Engineering from Northwestern Polytechnical University (NWPU), China in 2014 and he is currently a PHD student majoring in Computer Engineering. His research interests lie in the area of mobile health, wearable sensor network, data visualization and analysis, deep learning on mobile platform and human action recognition. He is highly interested in the positions of applied scientist, machine learning engineer and software engineer. He is willing to develop next generation mobile health systems and plans to finish his Ph. D. research work in Sensing and Interaction Laboratory (SAIL) at Case Western Reserve University before August 2020. He has plenty of research experience in early-stage development of mobile health systems, including traditional augmented reality system, emotion intelligence system and distributed deep learning system in mobile network.</span>
            <p></p>
              <span class="font18bold">RESEARCH INTEREST:</span>
              <span class="font18">Mobile health, wearable sensor network, data visualization and analysis, deep learning on mobile platform, augmented reality and human action recognition.</span>
            <p></p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container" style="margin-bottom:50px;">
      <div class="row">
        <div class="col-md-6 animate-box">
          <div class="about-desc" style="margin-top:30px;">
            <img class="img-responsive about-img center-block" src="{% static "images/Member/diliang.png" %}" style="height:400px;">
            <!-- <img class="img" src="images/logo.png"> -->
          </div>
        </div>
        <!-- <div class="col-md-1 centerdiv"></div> -->
        <div class="col-md-6 center-left animate-box">
          <div class="about-desc">
            <div class="item">
              <h2 align="justify" class="text-center">Diliang Chen</h2>
              <h3 align="justify" class="text-center" style="font-family:'Microsoft Yahei'">陈帝良</h3>
              <span class="font18"></span>
            </div>
            <div class="item">
              <span class="font18">Diliang Chen received his B.S. degree in Electronic Information Engineering from Nanjing University of Posts and Telecommunications (NJUPT), China in 2011 and M.S. degree in Microelectronics and Solid State Electronics from Institute of Electronics, Chinese Academy of Sciences in 2015. He is currently a Ph.D student in the EECS department at Case Western Reserve University. His research focus is on gait analysis. He developed an insole shaped wearable gait analysis system for continuous gait parameters monitoring. At present, he is focusing on applying the continuous gait parameters acquired from insoles to assist abnormal gait diagnosis, slip prevention training, and work related musculoskeletal risk factors identification.</span>
            <p></p>
              <span class="font18bold">RESEARCH INTEREST:</span>
              <span class="font18">Gait analysis, wearable system design, Mobile health, Internet of things (IOT).</span>
            <p></p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container" style="margin-bottom:50px;">
      <div class="row">
        <div class="col-md-6 animate-box">
          <div class="about-desc" style="margin-top:30px;">
            <img class="img-responsive about-img center-block" src="{% static "images/Member/yi.jpg" %}" style="height:400px;">
            <!-- <img class="img" src="images/logo.png"> -->
          </div>
        </div>
        <!-- <div class="col-md-1 centerdiv"></div> -->
        <div class="col-md-6 center-left animate-box">
          <div class="about-desc">
            <div class="item">
              <h2 align="justify" class="text-center">Yi Cai</h2>
              <h3 align="justify" class="text-center" style="font-family:'Microsoft Yahei'">才熠</h3>
              <span class="font18"></span>
            </div>
            <div class="item">
              <span class="font18">Yi Cai received his B.S. degree in Applied Physics from Beijing Institute of Technology, China in 2014 and he is currently a PHD Student in the EECS department at Case Western Reserve University. His research interests are in the field of mobile health, data analysis and wearable sensor network. He is also the git repository manager of Sensing and Interaction Laboratory (SAIL). He has been focusing on facial expression recognition study based on machine learning algorithm with wearable EMG sensors. And he also worked on worker activity related data analyzing combining with image segmentation and data mining. At present, he is involved in the NSF’s Intelligent Prosthetic Socket Project, focusing on the experiments simulation and hardware system design.</span>
            <p></p>
              <span class="font18bold">RESEARCH INTEREST:</span>
              <span class="font18">Mobile health, data analysis and wearable sensor network.</span>
            <p></p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container" style="margin-bottom:50px;">
      <div class="row">
        <div class="col-md-6 animate-box">
          <div class="about-desc" style="margin-top:60px;">
            <img class="img-responsive about-img center-block" src="{% static "images/Member/golnoush.jpg" %}" style="height:400px;">
            <!-- <img class="img" src="images/logo.png"> -->
          </div>
        </div>
        <!-- <div class="col-md-1 centerdiv"></div> -->
        <div class="col-md-6 center-left animate-box">
          <div class="about-desc">
            <div class="item">
              <h2 align="justify" class="text-center">Golnoush Asaeikheybari </h2>
              <h3 align="justify" class="text-center" style="font-family:'Microsoft Yahei'">...</h3>
              <span class="font18"></span>
            </div>
            <div class="item">
              <span class="font18">Golnoush Asaeikheybari received her B.Sc. degree in Electrical Engineering from Shahid Beheshti University, Iran in 2016. She is now a PhD student in EECS department of Case Western Reserve University and joined SAIL Lab in Aug. 2017 . Her research interests are machine learning, deep learning, image processing, IoT and convex optimization. Currently, She is involved in a research on skin lesion image analysis for melanoma detection. She is also focusing on building a personal health library by taking new big-data science approaches into account to make this library a place for users to store, manage, analyze and share their health information and receiving instructions according to their health conditions . Another research that she is involved is path2quit project which focuses on smoking cessation by mobile health via using Trumpia MMS system.</span>
            <p></p>
              <span class="font18bold">RESEARCH INTEREST:</span>
              <span class="font18">Machine learning, Deep learning, Image processing, IoT, Convex optimization.</span>
            <p></p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div style="background:linear-gradient(to left,#efefef,#0066FF,#efefef);height:1px;margin-top:10px;margin-bottom:10px;"></div>

    <div class="container" style="margin-bottom:50px;">
      <div class="row">
        <div class="col-md-6 animate-box">
          <h3 class="container">
              Master Students
          </h3>
          <div class="about-desc" style="margin-top:50px;">
            <img class="img-responsive about-img center-block" src="{% static "images/Member/jia.png" %}" style="height:400px;">
            <!-- <img class="img" src="images/logo.png"> -->
          </div>
        </div>
        <!-- <div class="col-md-1 centerdiv"></div> -->
        <div class="col-md-6 center-left animate-box">
          <div class="about-desc">
            <div class="item" style="margin-top:90px;">
              <h2 align="justify" class="text-center">Jia Chen</h2>
              <h3 align="justify" class="text-center" style="font-family:'Microsoft Yahei'">陈佳</h3>
              <span class="font18"></span>
            </div>
            <div class="item">
              <span class="font18">Jia Chen received the B.E. degree in computer engineering from Northeastern University, MA, USA in 2015. She is currently pursuing the M.S. degree with the Electrical Engineering and Computer Science Department at Case Western Reserve University. Her current research interests include developing pain marking app in Android and Hololens platforms. Previously, she has involved in gait and balance analysis projects and ultrasound image processing project.</span>
            <p></p>
              <span class="font18bold">RESEARCH INTEREST:</span>
              <span class="font18">Image processing, computer visualization, and wireless health.</span>
            <p></p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container" style="margin-bottom:50px;">
      <div class="row">
        <div class="col-md-6 animate-box">
          <div class="about-desc" style="margin-top:30px;">
            <img class="img-responsive about-img center-block" src="{% static "images/Member/xiaoliang.jpg" %}" style="height:400px;">
            <!-- <img class="img" src="images/logo.png"> -->
          </div>
        </div>
        <!-- <div class="col-md-1 centerdiv"></div> -->
        <div class="col-md-6 center-left animate-box">
          <div class="about-desc">
            <div class="item">
              <h2 align="justify" class="text-center">Xiaoliang Zhang</h2>
              <h3 align="justify" class="text-center" style="font-family:'Microsoft Yahei'">...</h3>
              <span class="font18"></span>
            </div>
            <div class="item">
              <span class="font18">Xiaoliang Zhang received the B.S. degree in electronic science and technology from University of Electronic Science and Technology of China, Chengdu, China. He is currently pursuing the M.S. degree in Computer Engineering with the Electrical Engineering and Computer Science Department at Case Western Reserve University. He has many experiences in wearable computing, data processing, human activity recognition by using deep learning algorithm, and data analysis. He developed a software system includes application design, human activity recognition by using deep learning method algorithm, and internet message service, to help people quit smoking. His current research interests include mobile health software application design, data mining, and big data feature extraction.</span>
            <p></p>
              <span class="font18bold">RESEARCH INTEREST:</span>
              <span class="font18">Mobile health system, Wearable computing, and Data mining.</span>
            <p></p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container" style="margin-bottom:50px;">
      <div class="row">
        <div class="col-md-6 animate-box">
          <div class="about-desc" style="margin-top:0px;">
            <img class="img-responsive about-img center-block" src="{% static "images/Member/taiyu.jpg" %}" style="height:400px;">
            <!-- <img class="img" src="images/logo.png"> -->
          </div>
        </div>
        <!-- <div class="col-md-1 centerdiv"></div> -->
        <div class="col-md-6 center-left animate-box">
          <div class="about-desc">
            <div class="item">
              <h2 align="justify" class="text-center">Taiyu Chen</h2>
              <h3 align="justify" class="text-center" style="font-family:'Microsoft Yahei'">...</h3>
              <span class="font18"></span>
            </div>
            <div class="item">
              <span class="font18">Taiyu Chen received his B.S degree in optoelectronic & information engineering from Nanjing University of Science and Technology (NJUST), China. He is currently a M.S. Student in the Electrical Engineering and Computer Science department at Case Western Reserve University. His previous research is to set up a smoking cessation system including motion data collection, gesture recognition, machine learning, mobile app design and RESTful web server application. He is currently working on melanoma recognition using image processing and machine learning.</span>
            <p></p>
              <span class="font18bold">RESEARCH INTEREST:</span>
              <span class="font18">mobile health, machine learning</span>
            <p></p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container" style="margin-bottom:50px;">
      <div class="row">
        <div class="col-md-6 animate-box">
          <div class="about-desc" style="margin-top:0px;">
            <img class="img-responsive about-img center-block" src="{% static "images/Member/xiaoye.jpg" %}" style="height:400px;">
            <!-- <img class="img" src="images/logo.png"> -->
          </div>
        </div>
        <!-- <div class="col-md-1 centerdiv"></div> -->
        <div class="col-md-6 center-left animate-box">
          <div class="about-desc" style="margin-top:30px;">
            <div class="item">
              <h2 align="justify" class="text-center">Xiaoye Qian</h2>
              <h3 align="justify" class="text-center" style="font-family:'Microsoft Yahei'">...</h3>
              <span class="font18"></span>
            </div>
            <div class="item">
              <span class="font18">Xiaoye Qian received the B.S. degree in Automation from China University of Petroleum, Beijing, China. He is currently pursuing the M.S. degree in Electrical Engineering and Computer Science Department at Case Western Reserve University. His current research fields are in data mining, distributed deep learning on the micogrid and disease detection. At present, he is focusing on distributed deep learning on the melanoma detection. He takes charge of image processing and data analysis.</span>
            <p></p>
              <span class="font18bold">RESEARCH INTEREST:</span>
              <span class="font18">Data mining, deep learning.</span>
            <p></p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div style="background:linear-gradient(to left,#efefef,#0066FF,#efefef);height:1px;margin-top:10px;margin-bottom:10px;"></div>

    <div class="container" style="margin-bottom:50px;">
      <div class="row">
        <div class="col-md-6 animate-box">
          <h3 class="container">
              Undergraduate Students
          </h3>
          <div class="about-desc" style="margin-top:-10px;">
            <img class="img-responsive about-img center-block" src="{% static "images/Member/justin.jpg" %}" style="height:400px;">
            <!-- <img class="img" src="images/logo.png"> -->
          </div>
        </div>
        <!-- <div class="col-md-1 centerdiv"></div> -->
        <div class="col-md-6 center-left animate-box">
          <div class="about-desc">
            <div class="item" style="margin-top:90px;">
              <h2 align="justify" class="text-center">Justin Green</h2>
              <span class="font18"></span>
            </div>
            <div class="item">
              <span class="font18">Justin Green is an undergraduate at Case Western Reserve University, pursuing a double major in Computer Science with a concentration in Artificial Intelligence and Electrical Engineering with a concentration in Computer Hardware. He is interested in a wide variety of research topics, from Computational Intelligence and Machine Learning to Embedded Systems and Internet of Things. He is currently working on deep learning architecture for mobile platforms.</span>
            <p></p>
              <span class="font18bold">RESEARCH INTEREST:</span>
              <span class="font18">Artificial Neural Networks, Deep Learning, Internet of Things, Bioinformatics</span>
            <p></p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container" style="margin-bottom:50px;">
      <div class="row">
        <div class="col-md-6 animate-box">
          <div class="about-desc" style="margin-top:30px;">
            <img class="img-responsive about-img center-block" src="{% static "images/Member/ridaa.jpg" %}" style="height:400px;">
            <!-- <img class="img" src="images/logo.png"> -->
          </div>
        </div>
        <!-- <div class="col-md-1 centerdiv"></div> -->
        <div class="col-md-6 center-left animate-box">
          <div class="about-desc">
            <div class="item">
              <h2 align="justify" class="text-center">Ridaa Ali</h2>
              <span class="font18"></span>
            </div>
            <div class="item" style="margin-top:90px;">
              <span class="font18">Ridaa Ali is a pre-medical sophomore student at Case Western Reserve University pursuing a major in biomedical engineering and minors in Electrical Engineering and Computer Science, and Chemistry. She is passionate about health care and health care research. Currently, she is working on rehabilitative devices for Parkinson’s Disease oriented at alleviating tremors and freezing of gait; these devices are intended to sense freezing and trigger cues to overcome freezing of gait. She is exploring different methods and aspects to yield effective devices.</span>
            <p></p>
              <span class="font18bold">RESEARCH INTEREST:</span>
              <span class="font18">Biomedical, Neural, Health Care.</span>
            <p></p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div style="background:linear-gradient(to left,#efefef,#0066FF,#efefef);height:1px;margin-top:10px;margin-bottom:10px;"></div>

    <div class="container" style="margin-bottom:50px;">
      <div class="row">
        <div class="col-md-6 animate-box">
          <h3 class="container">
              Alumni
          </h3>
          <div class="about-desc" style="margin-top:-10px;">
            <img class="img-responsive about-img center-block" src="{% static "images/Member/menghan.jpg" %}" style="height:400px;">
            <!-- <img class="img" src="images/logo.png"> -->
          </div>
        </div>
        <!-- <div class="col-md-1 centerdiv"></div> -->
        <div class="col-md-6 center-left animate-box" style="margin-top:120px;">
          <div class="about-desc">
            <div class="item">
              <h2 align="justify" class="text-center">Menghan Liu</h2>
              <h3 align="justify" class="text-center" style="font-family:'Microsoft Yahei'">...</h3>
              <span class="font18"></span>
            </div>
            <div class="item">
              <span class="font18">Menghan Liu graduated as a M.S. student in the EECS department at Case Western Reserve University in 2016. She is the first M.S graduation at SAIL@CWRU. She has contributed in 5 journal papers and 1 conference paper (3 first-author publications) and received a NSF travel award in CHASE'16 conference.</span>
            <p></p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container" style="margin-bottom:50px;">
      <div class="row">
        <div class="col-md-6 animate-box">
          <div class="about-desc" style="margin-top:30px;">
            <img class="img-responsive about-img center-block" src="{% static "images/Member/james.png" %}" style="height:400px;">
            <!-- <img class="img" src="images/logo.png"> -->
          </div>
        </div>
        <!-- <div class="col-md-1 centerdiv"></div> -->
        <div class="col-md-6 center-left animate-box">
          <div class="about-desc" style="margin-top:120px;">
            <div class="item">
              <h2 align="justify" class="text-center">James Starkman</h2>
              <span class="font18"></span>
            </div>
            <div class="item">
              <span class="font18">James Starkman received his undergraduate degree in Science in Engineering at CWRU. He was the first (undergraduate) student at SAIL@CWRU and he has contributed in 3 journal papers and 1 conference paper. And he received his M.S degree at CWRU in 2018.</span>
            <p></p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container" style="margin-bottom:50px;">
      <div class="row">
        <div class="col-md-6 animate-box">
          <div class="about-desc" style="margin-top:30px;">
            <img class="img-responsive about-img center-block" src="{% static "images/Member/jacob.png" %}" style="height:400px;">
            <!-- <img class="img" src="images/logo.png"> -->
          </div>
        </div>
        <!-- <div class="col-md-1 centerdiv"></div> -->
        <div class="col-md-6 center-left animate-box">
          <div class="about-desc"style="margin-top:120px;">
            <div class="item">
              <h2 align="justify" class="text-center">Jacob Cui</h2>
              <span class="font18"></span>
            </div>
            <div class="item" >
              <span class="font18">Jacob Cui received B.S.E degree from Case Western Reserve University in May 2016 majoring in Electrical Engineering and minoring in Computer Engineering with summa cum laude degree honor. He published one first-author paper and contributed in another research paper at SAIL@CWRU. After graduation, he became a Master’s student at Department of Computer and Information Science at University of Pennsylvania.</span>
            <p></p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container" style="margin-bottom:50px;">
      <div class="row">
        <div class="col-md-6 animate-box">
          <div class="about-desc" style="margin-top:30px;">
            <img class="img-responsive about-img center-block" src="{% static "images/Member/xiao.png" %}" style="height:400px;">
            <!-- <img class="img" src="images/logo.png"> -->
          </div>
        </div>
        <!-- <div class="col-md-1 centerdiv"></div> -->
        <div class="col-md-6 center-left animate-box">
          <div class="about-desc" style="margin-top:120px;">
            <div class="item">
              <h2 align="justify" class="text-center">Xiao Zeng</h2>
              <h3 align="justify" class="text-center" style="font-family:'Microsoft Yahei'">...</h3>
              <span class="font18"></span>
            </div>
            <div class="item">
              <span class="font18">Xiao (Steven) Zeng received dual degrees in computer science and marketing at CWRU. He has contributed in two research papers at SAIL@CWRU. He graduated in 2017 and continued his Master degree at University of California, Los Angeles.</span>
            <p></p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container" style="margin-bottom:50px;">
      <div class="row">
        <div class="col-md-6 animate-box">
          <div class="about-desc" style="margin-top:30px;">
            <img class="img-responsive about-img center-block" src="{% static "images/Member/guanzhou.png" %}" style="height:400px;">
            <!-- <img class="img" src="images/logo.png"> -->
          </div>
        </div>
        <!-- <div class="col-md-1 centerdiv"></div> -->
        <div class="col-md-6 center-left animate-box">
          <div class="about-desc" style="margin-top:120px;">
            <div class="item">
              <h2 align="justify" class="text-center">Guanzhou Qu</h2>
              <h3 align="justify" class="text-center" style="font-family:'Microsoft Yahei'">...</h3>
              <span class="font18"></span>
            </div>
            <div class="item">
              <span class="font18">Guanzhou (Eddie) Qu received B.S degree in computer science at Case Western Reserve University. He has contributed in two research papers at SAIL@CWRU. After graduation, he became a Master’s student at University of Pennsylvania.</span>
            <p></p>
            </div>
          </div>
        </div>
      </div>
    </div>

{% endblock %}
