{% extends "sail_app/base.html" %}
{% load staticfiles %}

{% block title %}
    News
{% endblock %}

{% block body_block %}

<div class="container" style="margin-bottom:100px;">
      <div class="container">
          <h1 class="container" style="margin-bottom:35px;">
              News and Events
          </h1>
      </div>
      <div class="">
        <ul>
          <li id="n1">
            <span class="font18red">[Service]</span>
            <span class="font18">Dr. Huang serves as the CSE graduate committee on August, 2018</span></li>
          <p></p>
          <li id="n2">
            <span class="font18yellow">[Scholarship]</span>
            <span class="font18">Ms. Ridaa Ali, received SOURCE summer student research fund this year for the topic "Explore Correlation Between Body Balance and Hearing Sensitivity using Mobile Health Technology" on June 2018</span></li>
          <p></p>
          <li id="n3">
            <span class="font18red">[Service]</span>
            <span class="font18">Dr. Huang joined the Editorial Board of PLOS ONE as an Academic Editor on May 2018</span></li>
          <p></p>
          <li id="n4">
            <span class="font18red">[Status]</span>
            <span class="font18">Dr. Huang joined Institute for Smart, Secure and Connected Systems (ISSACS) at Case Western Reserve University on May 2018</span></li>
          <p></p>
          <li id="n5">
            <span class="font18green">[Award]</span>
            <span class="font18">SAIL@CWRU becomes Data Challenge Winning Team in IEEE International Conference on Biomedical and Health Informatics and IEEE International Conference on Wearable and Implantable Body Sensor Network, on March 2018</span></li>
          <p></p>
          <li id="n6">
            <span class="font18yellow">[Scholarship]</span>
            <span class="font18">Mr. Yi Cai received NSF travel award for BSN Conference on March 2018</span></li>
          <p></p>
          <li id="n7">
            <span class="font18blue">[Teaching]</span>
            <span class="font18">EECS314: Computer Architecture on January, 2018</span></li>
          <p></p>
          <li id="n8">
            <span class="font18red">[Service]</span>
            <span class="font18">Dr. Huang served as the chair of EECS graduate committee on December, 2017</span></li>
          <p></p>
          <li id="n9">
            <span class="font18red">[Status]</span>
            <span class="font18">Dr. Huang served as the Director, mHealth@CWRU – Mobile Health Laboratory at Case Western Reserve University on August 2017. mHealth@CWRU is established for enhancing graduate-level education and cross-disciplinay collaboration.</span></li>
          <p></p>
          <li id="n10">
            <span class="font18yellow">[Scholarship]</span>
            <span class="font18">Mr. Diliang Chen received NSF travel award for CHASE Conference on October 2017</span></li>
          <p></p>
          <li id="n11">
            <span class="font18yellow">[Scholarship]</span>
            <span class="font18">Mr. Yi Cai, received think[box] Student Project Fund on September 1, 2017</span></li>
          <p></p>
          <li id="n12">
            <span class="font18green">[Grant]</span>
            <span class="font18">SAIL@CWRU received research support from National Cancer Institute of the National Institutes of Health for the mHealth research project under award number 3P30CA043703-27S4 on April 2017. </span></li>
          <p></p>
          <li id="n13">
            <span class="font18green">[Grant]</span>
            <span class="font18">SAIL@CWRU received research support from DoD Army Research for the mHealth research project, ''Identifying and managing MS fatigue phenotypes by developing an artificially intelligent smartwatch app" on April 1, 2017.</span></li>
          <p></p>
          <li id="n14">
            <span class="font18green">[Award]</span>
            <span class="font18">Ms. Jia Chen received award of "2017 Poster Competition Graduate Winner" from Ohio Celebration of Women in Computing on February 24, 2017. </span></li>
          <p></p>
          <li id="n15">
            <span class="font18green">[Grant]</span>
            <span class="font18">SAIL@CWRU received NSF award for the wearable design project, "Wearable Nanofabrication Designs Create Better Fitting Intelligent Prosthetic Sockets" under the award number 1664368 on February 15, 2017. </span></li>
          <p></p>
          <li id="n16">
            <span class="font18yellow">[Scholarship]</span>
            <span class="font18">Ms. Menghan Liu and Ms. Jia Chen received NSF travel award for CHASE Conference on May 20, 2016</span></li>
          <p></p>
          <li id="n17">
            <span class="font18red">[Service]</span>
            <span class="font18">Dr. Huang served as Research ShowCASE 2016 Judge on April 15, 2016</span></li>
          <p></p>
          <li id="n18">
            <span class="font18green">[Award]</span>
            <span class="font18">SAIL@CWRU received Google Internet of Things (IoT) Technology Research Award on April 2016</span></li>
          <p></p>
          <li id="n19">
            <span class="font18green">[Grant]</span>
            <span class="font18">SAIL@CWRU received Nord award from CWRU University Center for Innovation in Teaching and Educationon (UCITE) on July 2015</span></li>
          <p></p>
          <li id="n20">
            <span class="font18green">[Grant]</span>
            <span class="font18">SAIL@CWRU received subaward (lead by Dr. Triolo) from NIH National Institute of Neurological Disorders and Stroke on July 2015</span></li>
          <p></p>
          <li id="n21">
            <span class="font18green">[Grant]</span>
            <span class="font18">SAIL@CWRU received research support from Ohio Occupational Safety and Health Research Program on June 2015</span></li>
          <p></p>
          <li id="n22">
            <span class="font18blue">[Teaching]</span>
            <span class="font18">EECS410: Mobile Health (mHealth) Technology started on January 12, 2015</span></li>
          <p></p>
          <li id="n23">
            <span class="font18red">[Status]</span>
            <span class="font18">Dr. Huang served as an Investigator, Department of Veterans Affairs Medical Center Advanced Platform Technology (APT) Center on October 2014</span></li>
          <p></p>
          <li id="n24">
            <span class="font18red">[Status]</span>
            <span class="font18">Dr. Huang served as the Director, SAIL@CWRU – Sensing and Interaction Laboratory at Case Western Reserve University on August 2014</span></li>
          <p></p>
          <li id="n25">
            <span class="font18green">[Award]</span>
            <span class="font18">Dr. Huang received best paper award, IEEE International Conference on Implantable and Wearable Body Sensor Networks, Boston, USA on May 2013</span></li>
          <p></p>
          <li id="n26">
            <span class="font18green">[Award]</span>
            <span class="font18">Dr. Huang received best demo paper award, ACM Conference on Wireless Health, San Diego, USA on October 2011</span></li>
          <p></p>

        </ul>
      </div>

    </div>

{% endblock %}
