{% extends "sail_app/base.html" %}
{% load staticfiles %}

{% block title %}
    Publications
{% endblock %}

{% block body_block %}


<div class="container" style="margin-bottom:100px;">
      <div class="container">
          <h1 class="container">
              Publications
          </h1>
      </div>
      <div class="">
        <h3 style="font-family:times new roman,times,serif;">Peer-reviewed Journal Papers</h3>
        <div class="container" style="margin-bottom:30px;"></div>
        <ul>
          <li id="J22">
            <span style="font-size:18px;"><span style="font-family:times new roman,times,serif;">[J22] Taiyu Chen, Xiaoliang Zhang, Haotian Jiang, Golnoush Asaeikheybari, Nikhil Goel, Monica Webb Hooper, Ming-Chun Huang, &rdquo;Are You Smoking? Automatic Alert System Helping People Keep Away from Cigarettes, Elsevier Smart Health (<strong>SH</strong>), 2018</span></span></li>
          <p></p>
          <li id="J21">
            <span style="font-size:18px;"><span style="font-family:times new roman,times,serif;">[J21] Diliang Chen, Yi Cai&nbsp; and Ming-Chun Huang, &rdquo;Customizable Pressure Sensor Array: Design and Evaluation, IEEE Sensors Journal (<strong>SJ</strong>), Volume: 18, Issue 15, 2018, Pages 6337&nbsp;- 6344</span></span></li>
          <p></p>
          <li id="J20">
            <span style="font-size:18px;"><span style="font-family:times new roman,times,serif;">[J20] Zixuan Feng, Subrina Raque, Yi Cai, Lu Han, Ming-Chun Huang, and Hongping Zhao, &quot;ZnO nanowall networks for sensor devices: from hydrothermal synthesis to device demonstration&quot; to be appeared in The Electrochemical Society Journal (<strong>ECS</strong>) of Solid State Science and Technology, Volume 7, Issue 7, 2018, Pages 3114 &ndash; 3119</span></span></li>
          <p></p>
          <li id="J19">
            <span style="font-size:18px;"><span style="font-family:times new roman,times,serif;">[J19] Diliang Chen and Yi Cai,&nbsp; Jiawei Cui, Jia Chen, Haotian Jiang, and Ming-Chun Huang, &quot;Risk Factors Identification and visualization for Work-related Musculoskeletal Disorders with Wearable and Connected Gait Analytics System and Kinect Skeleton Models&quot;, Elsevier Smart Health (<strong>SH</strong>), 2018</span></span></li>
          <p></p>
          <li id="J18">
            <span style="font-size:18px;"><span style="font-family:times new roman,times,serif;">[J18] Haotian Jiang, James Starkman, Menghan Liu, Ming-Chun Huang, &quot;Food Nutrition Visualization on Google Glass: Design Trade-off&nbsp;and Field Evaluation&quot; in IEEE Consumer Electronics Magazine (<strong>CEM</strong>), Volume 7, Number. 3, May 2018, Pages 21 - 31</span></span></li>
          <p></p>
          <li id="J17">
            <span style="font-size:18px;"><span style="font-family:times new roman,times,serif;">[J17] Yi Cai, Yifan Guo, Haotian Jiang, and Ming-Chun Huang, &quot;Machine-learning approaches for recognizing muscle activities involved in facial expressions captured by multi-channels surface electromyogram&quot;, Elsevier Smart Health (<strong>SH</strong>), Volume 5, January 2018, Pages 15 - 25</span></span></li>
          <p></p>
          <li id="J16">
            <span style="font-size:18px;"><span style="font-family:times new roman,times,serif;">[J16] Haotian Jiang, Mustafa Coskun, Alaa Badokhon, Menghan Liu, and Ming-Chun Huang, &quot;Hidden Smile Correlation Discovery across Subjects using Random Walk with Restart&quot;, IEEE Transactions on Affective Computing (<strong>TAC</strong>), 2017</span></span></li>
          <p></p>
          <li id="J15">
            <span style="font-size:18px;"><span style="font-family:times new roman,times,serif;">[J15] Jiawei Cui, Jia Chen, Guanzhou Qu, James Starkman, Xiao Zeng, Elizabeth Madigan, Miriam Pekarek, Wenyao Xu, Ming-Chun Huang, &quot;Wearable Gait Lab System Providing Quantitative Statistical Support for Human Balance Tests&quot;, Elsevier Smart Health (<strong>SH</strong>), Volume 3, Number 2, September 2017, Pages 27 - 38</span></span></li>
          <p></p>
          <li id="J14">
            <span style="font-size:18px;"><span style="font-family:times new roman,times,serif;">[J14] Xiaowei Xu, Feng Lin, Aosen Wang, Yu Hu, Ming-Chun Huang, Wenyao Xu, &rdquo;Body-Earth Mover&rsquo;s Distance: A Matching-Based Approach for Sleep Posture Recognition&rdquo;, IEEE Transactions on Biomedical Circuits and Systems (<strong>TBioCAS</strong>) , Volume 10, Number 5, October 2016, Pages 1023 - 1035</span></span></li>
          <p></p>
          <li id="J13">
            <span style="font-size:18px;"><span style="font-family:times new roman,times,serif;">[J13] Menghan Liu, Haotian Jiang, Jia Chen, Ming-Chun Huang, &rdquo;Tidal Volume Estimation Using Portable Ultrasound Imaging System&rdquo;, IEEE Sensors Journal (<strong>SJ</strong>), Volume: 16, Issue 24, 2016, Pages 9014 - 9020</span></span></li>
          <p></p>
          <li id="J12">
            <span style="font-size:18px;"><span style="font-family:times new roman,times,serif;">[J12] Ming-Chun Huang, Jason J. Liu, Wenyao Xu, Changzhan Gu, Changzhi Li, Majid Sarrafzadeh, &rdquo;A Self-Calibrating Radar Sensor System Design for Measuring Vital Signs&rdquo;, IEEE Transactions on Biomedical Circuits and Systems (<strong>TBioCAS</strong>), Volume 10, Number 2, April 2016, Pages 352 - 363</span></span></li>
          <p></p>
          <li id="J11">
            <span style="font-size:18px;"><span style="font-family:times new roman,times,serif;">[J11] Menghan Liu, Ming-Chun Huang, &rdquo;Asthma Pattern Identification via Continuous Diaphragm Motion Monitoring&rdquo;, IEEE Transactions on Multi-Scale Computing Systems (<strong>TMSCS</strong>), Volume 1, Issue 2, October 2015, Pages 76 - 84</span></span></li>
          <p></p>
          <li id="J10">
            <span style="font-size:18px;"><span style="font-family:times new roman,times,serif;">[J10] Jason J. Liu, Ming-Chun Huang, Wenyao Xu, Xiaoyi Zhang, Luke Stevens, Nabil Alshurafa, Majid Sarrafzadeh, &rdquo;BreathSens: A Continuous On-Bed Respiratory Monitoring System with Torso Localization using an Unobtrusive Pressure Sensing Array&rdquo;, IEEE Journal of Biomedical and Health Informatics (<strong>J-BHI</strong>), Volume 19, Issue 5, September 2015, Pages 1682 - 1688</span></span></li>
          <p></p>
          <li id="J09">
            <span style="font-size:18px;"><span style="font-family:times new roman,times,serif;">[J09] Yu-Ju Lee, Ming-Chun Huang, Xiaoyi Zhang, Wenyao Xu, &rdquo;FridgeNet: A Nutrition and Social Activity Promotion Platform for Aging Population&rdquo;, IEEE Intelligent Systems (<strong>IS</strong>), Volume 30, Issue 4, July 2015, Pages 23-30</span></span></li>
          <p></p>
          <li id="J08">
            <span style="font-size:18px;"><span style="font-family:times new roman,times,serif;">[J08] Nabil Alshurafa, Wenyao Xu, Jason J. Liu, Ming-Chun Huang, Bobak Jack&nbsp;Mortazavi,&nbsp;Majid Sarrafzadeh, &quot;Designing a Robust Activity Recognition Framework for Health and Exergaming using Wearable Sensors&quot;, IEEE&nbsp;Journal of Biomedical and Health Informatics <strong>(J-BHI)</strong>, Volume 18, Issue 5, September 2014, Pages 1636 - 1646</span></span></li>
          <p></p>
          <li id="J07">
            <span style="font-size:18px;"><span style="font-family:times new roman,times,serif;">[J07] Lauren Samy, Ming-Chun Huang, Jason J. Liu, Wenayo Xu, Majid Sarrafzadeh, &quot;Unobtrusive Sleep Stage Identification Using a Pressure Sensitive Bed Sheet&quot;, IEEE Sensors Journal <strong>(SJ), </strong>Volume 14, Issue 7, July 2014, Pages 2092 - 2101</span></span></li>
          <p></p>
          <li id="J06">
            <span style="font-size:18px;"><span style="font-family:times new roman,times,serif;">[J06] Ming-Chun Huang, Si-Huei Lee, Shih-Ching Yeh, Rai-Chi Chan, Albert Rizzo, Wenyao Xu, Wu Han-Lin, Lin Shan-hui, &quot;Intelligent Frozen Shoulder Rehabilitation&quot;, IEEE Intelligent Systems Journal&nbsp;<strong>(IS)</strong>, Volume 29, Number 3, May-June, 2014, Pages 22 - 28</span></span></li>
          <p></p>
          <li id="J05">
            <span style="font-size:18px;"><span style="font-family:times new roman,times,serif;">[J05] Shih-Ching Yeh, Ming-Chun Huang, Pa-Chun Wang, Te-Yung Fang, Mu-Chun Su, Po-Yi Tsai, Albert Rizzo, &quot;Machine Learning-based Assessment Tool for Imbalance and Vestibular Dysfunction with Virtual Reality Rehabilitation System&quot;, Computer Methods and Programs in Biomedicine <strong>(CMPB)</strong>, Volume 116, Issue 3, May 2014,&nbsp;Pages 311 - 318</span></span></li>
          <p></p>
          <li id="J04">
            <span style="font-size:18px;"><span style="font-family:times new roman,times,serif;">[J04] Ming-Chun Huang, Jason J. Liu, Wenyao Xu, Nabil Alshurafa, Xiaoyi Zhang,&nbsp;Majid Sarrafzadeh, &quot;Using Pressure Map Sequences for Recognition of On Bed Rehabilitation Exercises&quot;, Journal of Biomedical and Health Informatics <strong>(J-BHI)</strong>, Volume&nbsp;18, Number&nbsp;2, March 2014, Pages 411 - 418</span></span></li>
          <p></p>
          <li id="J03">
            <span style="font-size:18px;"><span style="font-family:times new roman,times,serif;">[J03] Jason J. Liu, Wenyao Xu,&nbsp;Ming-Chun Huang,&nbsp;Nabil Alshurafa, Majid Sarrafzadeh, Nitin Raut, Behrooz Yadegar, &quot;Sleep Posture Analysis using using a Dense Pressure Sensitive Bedsheet&quot;, Elsevier Pervasive and Mobile Computing Journal <strong>(PMC), </strong>Volume 10, Issue 2, February 2014, Pages 34 - 50</span></span></li>
          <p></p>
          <li id="J02">
            <span style="font-size:18px;"><span style="font-family:times new roman,times,serif;">[J02] Wenyao Xu, Ming-Chun Huang, Navid Amini, Lei He, Majid Sarrafzadeh, &quot;eCushion: A Textile Pressure Sensor Array Design and Calibration for Sitting Posture Analysis&quot;, IEEE Sensors Journal <strong>(SJ)</strong>, Volume 13, Number 10, Octorber&nbsp;2013, Pages 3926 - 3934</span></span></li>
          <p></p>
          <li id="J01">
            <span style="font-size:18px;"><span style="font-family:times new roman,times,serif;">[J01] Peter B. Lillehoj, Ming-Chun&nbsp;Huang, Newton Truong, Chih-Ming Ho, &quot;Rapid Electrochemical Detection on a Mobile Phone&quot;, <strong>Lab on a Chip</strong>, Volumne 13, Issue 15, May 2013, Pages 2950 - 2955</span></span></li>
        </ul>

        <h3 style="font-family:times new roman,times,serif;">Peer-reviewed Conference Papers</h3>
        <div class="container" style="margin-bottom:30px;"></div>
        <ul>
          <li id="C25">
		        <span style="font-size:18px;"><span style="font-family:times new roman,times,serif;">[C25] Yi Cai, Haotian Jiang, Diliang Chen, Ming-Chun Huang, Online Learning Classifer Based Behavioral Biometric Authentication, 2018 IEEE 15th International Conference on Wearable and Implantable Body Sensor Networks (<strong>BSN&#39;18</strong>), Las Vegas, USA, March 2018</span></span></li>
          <p></p>
          <li id="C24">
          	<span style="font-size:18px;"><span style="font-family:times new roman,times,serif;">[C24] Haotian Jiang, Yi Cai, Xiao Zeng, Ming-Chun Huang, Is Background Really Matter? Worker Activity Recognition in Unconstrained Construction Environment, 2018 IEEE 15th International Conference on Wearable and Implantable Body Sensor Networks (<strong>BSN&#39;18</strong>), Las Vegas, USA, March 2018</span></span></li>
          <p></p>
          <li id="C23">
          	<span style="font-size:18px;"><span style="font-family:times new roman,times,serif;">[C23] Xinyao&nbsp;Tang, Ming-Chun&nbsp;Huang, and Soumyajit&nbsp;Mandal, An Internet of Ears for Crowd-Aware Smart Buildings Based on Sparse Sensor Networks, 2017 IEEE SENSORS (<strong>SENSORS&#39;17</strong>)</span></span></li>
          <p></p>
          <li id="C22">
          	<span style="font-size:18px;"><span style="font-family:times new roman,times,serif;">[C22] Diliang Chen, Jia Chen, Haotian Jiang, Ming-Chun Huang, Risk factors identication for work-related musculoskeletal disorders with wearable and connected gait analytics system, 2017 IEEE/ACM International Conference on Connected Health: Applications, Systems and Engineering Technologies (<strong>CHASE&#39;17</strong>), Philadelphia, USA, July 2017</span></span></li>
          <p></p>
          <li id="C21">
          	<span style="font-size:18px;"><span style="font-family:times new roman,times,serif;">[C21] Menghan Liu, Haotian Jiang, Jia Chen, Alaa Badokhon, Xuetao Wei, Ming-Chun Huang, &rdquo;A Collaborative Privacy-Preserving Deep Learning System in Distributed Mobile Environment&rdquo;, 2016 International Conference on Computational Science and Computational Intelligence (<strong>CSCI&rsquo;16</strong>), Las Vegas, USA, December 2016</span></span></li>
          <p></p>
          <li id="C20">
          	<span style="font-size:18px;"><span style="font-family:times new roman,times,serif;">[C20] Xuetao Wei, Michael Wolf, Lei Guo, Kyu Hyung Lee, Ming-Chun Huang, and Nan Niu, &rdquo;emphaSSL: Towards Emphasis as a Mechanism to Harden Networking Security in Android Apps&rdquo; , 2016 IEEE Global Communications Conference&nbsp;(<strong>GLOBECOM&rsquo;16</strong>), Washington DC, USA, December 2016</span></span></li>
          <p></p>
          <li id="C19">
          	<span style="font-size:18px;"><span style="font-family:times new roman,times,serif;">[C19] Dong Qin and Ming-Chun Huang, &rdquo;A smart phone based gait monitor system&rdquo;, Proceedings of the 10th EAI International Conference on Body Area Networks (<strong>Bodynets&rsquo;15</strong>), Sydney, Australia, September 2015</span></span></li>
          <p></p>
          <li id="C18">
          	<span style="font-size:18px;"><span style="font-family:times new roman,times,serif;">[C18] Haotian Jiang, James Starkman, Chih-Hung Kuo, and Ming-Chun Huang, &rdquo;AcuGlass: Quantifying Acupuncture Therapy using Google Glass&rdquo;, Proceedings of the 10th EAI International Conference on Body Area Networks (<strong>Bodynets&rsquo;15</strong>), Sydney, Australia, September 2015</span></span></li>
          <p></p>
          <li id="C17">
          	<span style="font-size:18px;"><span style="font-family:times new roman,times,serif;">[C17] Shuya Chen, Yu-Ching Lan, Yi-Ru Zheng, Ho Huang, Wen-Dien Chang, Shih-Ching Yeh and Ming- Chun Huang, &rdquo;Usability of a Low-Cost Wearable Health Device for Physical Activity and Sleep Duration in Healthy Adults&rdquo;, Proceedings of the 2015 Workshop on Pervasive Wireless Healthcare (<strong>MobileHealth&rsquo;15</strong>), Hangzhou, China, June 2015</span></span></li>
          <p></p>
          <li id="C16">
          	<span style="font-size:18px;"><span style="font-family:times new roman,times,serif;">[C16] Jason J. Liu, Ming-Chun Huang, Wenyao Xu, Majid Sarrafzadeh, &quot;Bodyparts Localization for Pressure Ulcer Prevention&quot;, 2014 36th Annual International Conference of the IEEE Engineering in Medicine and Biology Society <strong>(EMBC&#39;14)</strong>, Chicago, USA, August 2014</span></span></li>
          <p></p>
          <li id="C15">
          	<span style="font-size:18px;"><span style="font-family:times new roman,times,serif;">[C15] Ming-Chun Huang, Xiaoyi Zhang, Wenyao Xu, Jason J. Liu, Majid Sarrafzadeh, &quot;EZwakeup: a sleep environment design for sleep quality improvement&quot;, ACM CHI Conference on Human Factors in Computing Systems <strong>(CHI&#39;14)</strong>, Toronto, Canada, April&nbsp;2014 (Extended Abstract)</span></span></li>
          <p></p>
          <li id="C14">
          	<span style="font-size:18px;"><span style="font-family:times new roman,times,serif;">[C14] Xiaoyi Zhang, Ming-Chun Huang, Fengbo Ren, Wenyao Xu, Nan Guan, Wang Yi, &quot;Proper Running Posture Guide: Wearable Biomechanics Capture System&quot;, Proceedings of the 8th International Conference on Body Area Networks <strong>(BodyNet&#39;13)</strong>, Boston, USA, October 2013</span></span></li>
          <p></p>
          <li id="C13">
          	<span style="font-size:18px;"><span style="font-family:times new roman,times,serif;">[C13] Xiaoyi Zhang, Wenyao Xu, Ming-Chun Huang, Navid Amini, Fengbo Ren, &quot;See UV on Your Skin: An Ultraviolet Sensing and Visualization System&quot;, Proceedings of the 8th International Conference on Body Area Networks <strong>(BodyNet&#39;13)</strong>, Boston, USA, October 2013</span></span></li>
          <p></p>
          <li id="C12">
          	<span style="font-size:18px;"><span style="font-family:times new roman,times,serif;">[C12] Ming-Chun Huang, Wenyao Xu, Jason Liu, Lei He, Majid Sarrafzadeh, &quot;Inconspicuous Personal Computer Protection with Touch-Mouse&quot;, International Conference on Human Computer Interaction <strong>(HCI&#39;13)</strong>, Las Vegas, USA, July 2013</span></span></li>
          <p></p>
          <li id="C11">
          	<span style="font-size:18px;"><span style="font-family:times new roman,times,serif;">[C11] Ming-Chun Huang, Wenyao Xu, Jason Liu, Lauren Samy, Amir Vajid, Nabil Alshurafa, Majid Sarrafzadeh, &quot;Inconspicuous on-Bed Respiratory Rate Monitoring&quot;, Proceedings of the 6th International Conference on Pervasive Technologies Related to Assistive Environments <strong>(PETRA&#39;13)</strong>, Rhodes Island, Greece, May 2013</span></span></li>
          <p></p>
          <li id="C10">
          	<span style="font-size:18px;"><span style="font-family:times new roman,times,serif;">[C10] Wenyao Xu, Ming-Chun Huang, Jason J. Liu, Fengbo Ren, Xinchen Shen, Xiao Liu, Majid Sarrafzadeh, &quot;mCOPD: Mobile Phone Based Lung Function Diagnosis and Exercise System for COPD&quot;, Proceedings of the 6th International Conference on Pervasive Technologies Related to Assistive Environments <strong>(PETRA&#39;13)</strong>, Rhodes Island, Greece, May 2013</span></span></li>
          <p></p>
          <li id="C09">
          	<span style="font-size:18px;"><span style="font-family:times new roman,times,serif;">[C09] Jason J. Liu, Ming-Chun Huang, Wenyao Xu, Nabil Alshurafa, Majid Sarrafzadeh, &quot;On-bed Monitoring for Range of Motion Exercises with a Pressure Sensitive Bedsheet&quot;, 2013 IEEE International Conference on Body Sensor Networks <strong>(BSN&#39;13)</strong>, Boston, USA, May 2013 <strong>(Best Paper Award)</strong></span></span></li>
          <p></p>
          <li id="C08">
          	<span style="font-size:18px;"><span style="font-family:times new roman,times,serif;">[C08] Nabil Alshurafa, Wenyao Xu, Jason J. Liu, Ming-Chun Huang, Bobak Mortazavi, Christian Roberts, Majid Sarrafzadeh, &quot;Robust Human Intensity-Varying Activity Recognition using Stochastic Approximation in Wearable Sensors&quot;, 2013 IEEE International Conference on Body Sensor Networks <strong>(BSN&#39;13)</strong>, Boston, USA, May 2013</span></span></li>
          <p></p>
          <li id="C07">
          	<span style="font-size:18px;"><span style="font-family:times new roman,times,serif;">[C07] Jason Liu, Wenyao Xu, Ming-Chun Huang, Nabil Alshurafa, Majid Sarrafzadeh, &quot;A Dense Pressure Sensitive Bedsheet Design for Unobtrusive Sleep Posture Monitoring&quot;, IEEE International Conference on Pervasive Computing and Communication <strong>(PerCom&#39;13)</strong>, San Diego, USA, March 2013</span></span></li>
          <p></p>
          <li id="C06">
          	<span style="font-size:18px;"><span style="font-family:times new roman,times,serif;">[C06] Peter. B. Lillehoj, Ming-Chun Huang, Chih-Ming Ho, &quot;A Handheld Cell Phone-Based Electrochemical Biodetector&quot;, 2013 IEEE 26th International Conference on Micro Electro Mechanical Systems (<strong>MEMS&#39;13)</strong>, Taipei, Taiwan, January 2013</span></span></li>
          <p></p>
          <li id="C05">
          	<span style="font-size:18px;"><span style="font-family:times new roman,times,serif;">[C05] Ming-Chun Huang, Wenyao Xu, Yi Su,Chien-Yen Chang, Belinda Lange, Majid Sarrafzadeh, &quot;Smart Glove for Upper Extremities Rehabilitative Gaming Assessment&quot;, Proceedings of the 5th International Conference on Pervasive Technologies Related to Assistive Environments <strong>(PETRA&#39;12)</strong>, Crete Island, Greece, June 2012</span></span></li>
          <p></p>
          <li id="C04">
          	<span style="font-size:18px;"><span style="font-family:times new roman,times,serif;">[C04] Wenyao Xu, Ming-Chun Huang, Navid Amini, Jason Liu, Lei He, Majid Sarrafzadeh, &quot;SmartInsole: A Wearable System for Gait Analysis&quot;, Proceedings of the 5th International Conference on Pervasive Technologies Related to Assistive Environments <strong>(PETRA&#39;12)</strong>, Crete Island, Greece, June 2012</span></span></li>
          <p></p>
          <li id="C03">
          	<span style="font-size:18px;"><span style="font-family:times new roman,times,serif;">[C03] Ming-Chun Huang, Ethan Chen, Wenyao Xu, Majid Sarrafzadeh, &quot;Gaming for Upper Extremities Rehabilitation&quot;, ACM Conference on Wireless Health <strong>(WH&#39;11)</strong>, San Diego, USA, October 2011 <strong>(Best Demo Paper Award)</strong></span></span></li>
          <p></p>
          <li id="C02">
          	<span style="font-size:18px;"><span style="font-family:times new roman,times,serif;">[C02] Navid Amini, Wenyao Xu, Zhinan Li, Ming-Chun Huang, Majid Sarrafzadeh. &quot;Experimental Analysis of IEEE 802.15.4 for On/Off Body Communications&quot;, 2011 IEEE 22nd International Symposium on Personal Indoor Mobile Radio Communications <strong>(PIMRC&#39;11)</strong>, Toronto, Canada, September 2011</span></span></li>
          <p></p>
          <li id="C01">
          	<span style="font-size:18px;"><span style="font-family:times new roman,times,serif;">[C01] Wenyao Xu, Zhinan Li, Ming-Chun Huang, Navid Amini, Majid Sarrafzadeh. &quot;eCushion: An eTextile Device for Sitting Posture Analysis&quot;, 2011 IEEE Conference on Body Sensor Networks <strong>(BSN&#39;11)</strong>, Dallas, USA, May 2011</span></span></li>
          <p></p>
        </ul>

        <h3 style="font-family:times new roman,times,serif;">Technical Reports</h3>
        <div class="container" style="margin-bottom:30px;"></div>
          <ul>
            <li id="report">
              <span style="font-size:18px;"><span style="font-family:times new roman,times,serif;">Jared Lindblom, Ming-Chun Huang, Jeff Burke, Lixia Zhang, "FileSync over Named Data Networking" <strong>(NDN Technical Report NDN-0012, March 2013)</strong></span></span></li>
            <p></p>
          </ul>

        <h3 style="font-family:times new roman,times,serif;">Book Chapters</h3>
        <div class="container" style="margin-bottom:30px;"></div>
          <ul>
            <li id="book1">
              <span style="font-size:18px;"><span style="font-family:times new roman,times,serif;">Wenyao Xu, Ming-Chun Huang, "TOTAL HEALTH: Toward Continuous Personal Monitoring", Wearable Electronics Sensors, Volume 15, 2015 Springer</span></span></li>
            <p></p>
            <li id="book2">
              <span style="font-size:18px;"><span style="font-family:times new roman,times,serif;">Ming-Chun Huang, Shuya Chen, Pa-Chun Wang, Mu-Chun Su, Yen-Po Hung, Chia-Huang Chang, Shih-Ching Yeh, "Automate Virtual Reality Rehabilitation Evaluation for Chronic Imbalance and Vestibular Dysfunction Patients", Advanced Technologies, Embedded and Multimedia for Human-centric Computing Lecture Notes in Electrical Engineering, Volume 260, 2014, Pages 1099 - 1105 </span></span></li>
            <p></p>
          </ul>
      </div>

    </div>

{% endblock %}
