{% extends "sail_app/base.html" %}
{% load staticfiles %}

{% block title %}
    Students
{% endblock %}

{% block body_block %}


<div class="container" style="margin-bottom:100px;">
      <div class="container" style="margin-bottom:10px;">
          <h1 class="container">
              Perspective Students
          </h1>
      </div>
      <div class="">
          <span class="font18bold">Postdoctoral Researchers</span>
            <p></p>
        <div class="container" style="margin-bottom:10px;"></div>
            <span class="font18">To be announced</span>
          <p></p>
          <div style="background:linear-gradient(to left,#efefef,#0066FF,#efefef);height:1px;margin-top:10px;margin-bottom:10px;"></div>

      </div>

      <div class="">
          <span class="font18bold">Ph.D. Students</span>
            <p></p>
        <div class="container" style="margin-bottom:10px;"></div>
            <span class="font18">To be announced</span>
          <p></p>
          <div style="background:linear-gradient(to left,#efefef,#0066FF,#efefef);height:1px;margin-top:10px;margin-bottom:10px;"></div>

      </div>

      <div class="">
          <span class="font18bold">Master Students</span>
            <p></p>
        <div class="container" style="margin-bottom:10px;"></div>
            <span class="font18">We only consider Plan-A students (with thesis requirement).</span>
          <p></p>
          <div style="background:linear-gradient(to left,#efefef,#0066FF,#efefef);height:1px;margin-top:10px;margin-bottom:10px;"></div>

      </div>

      <div class="">
          <span class="font18bold">Undergraduate Students</span>
            <p></p>
        <div class="container" style="margin-bottom:10px;"></div>
            <span class="font18">Make an appointment with Prof. Huang (ming-chun.huang@case.edu) if you enjoy intensive software programming assignments.</span>
          <p></p>
          <div style="background:linear-gradient(to left,#efefef,#0066FF,#efefef);height:1px;margin-top:10px;margin-bottom:10px;"></div>

      </div>
</div>

{% endblock %}
